body {
    background-image: url(images/beauty.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    display: flex;
}

nav ul li {
    margin-top: 1em;
}

nav ul li a{
    color: rgb(45, 255, 18);
}

body p {
    text-align: center;
    font-weight: bold;
}